/* Corpo do Site*/

body {
  background-color: #303030;
  margin: 3% 4%;

  font-family: monospace;
  color: white;
  letter-spacing: 2px;
}

/* Seções */

section {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  margin-bottom: 6%;
}

/* Texto */

h3 {
  font-size: 1.2rem;
  margin: 2.5px 0px;
  padding: 10px 20px;
}

/* Backgrounds */

.easy h2 {
  color: #00a143;
}
.easy h3 {
  background-color: #015f30;
}

.normal h2 {
  color: #ccad00;
}
.normal h3 {
  background-color: #745900;
}

.hard h2 {
  color: #cc7400;
}
.hard h3 {
  background-color: #744200;
}

.hardcore h2 {
  color: #b40000;
}
.hardcore h3 {
  background-color: #740e00;
}
