html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;

  display: grid;
  place-items: center;

  font-family: "cursive";

  background-color: #6495ed;
}

/* Transições */

body,
div,
button,
h1 {
  transition: 2s;
}

/* Corpo do Site */

button {
  width: 300px;
  height: 180px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 40px 0px;

  background-color: transparent;

  cursor: pointer;
}

h1 {
  margin: 0px;

  font-weight: inherit;
  font-size: 28pt;
  font-style: italic;
}

p {
  font-size: 14pt;
  text-align: center;
  font-style: italic;
}

i#btn {
  cursor: pointer;
}
